.app-container{
  background-color:aquamarine;
  text-align:center;
  height:100vh;
  padding:20px;
}

.input{
  width:40%;
  border:none;
  padding:10px;
  margin:10px;
  border-radius:10px;
}
.searchBtn{
  border:none;
  background-color:orange;
  padding:10px;
  border-radius:10px;
  cursor:pointer;
}
.error{
  color:red;
  font-size:20px;
}

.weather-card{
  background-color: beige;
  border-radius:20px;
  margin-top: 20px;
  margin-bottom:20px;
  padding:10px;
}
.temp{
  color:darkorange;
  font-size:30px;
  font-weight:bold;
}
.weather{
  color:blueviolet;
  font-size:20px;
}
.favBtn{
  background-color:olivedrab;
  color:white;
  border:none;
  border-radius:10px;
  padding:10px;
  cursor:pointer;
}
.fav-city{
 margin-right:10px;
 cursor:pointer;
 margin-bottom:10px;
}

.removeBtn{
  border:none;
  border-radius:10px;
  padding:5px;
  margin-bottom:10px;
  color:white;
  background-color: crimson;
  cursor:pointer;
}